.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/workspace-mobile.json
.obsidian/types.json
.obsidian/page-preview.json
.obsidian/graph.json

# 忽略插件临时文件
.obsidian/plugins/recent-files-obsidian/data.json
# 忽略自动生成的目录
.vscode
.stversions/*
.obsidian/plugins/node_modules
.obsidian/plugins/infinite-file-tree
.obsidian/plugins/forest-obsidian
